
/* headers*/
h1{
  font-family: 'PT Sans', sans-serif;
  
  
}
h3, h2{
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}
.contact{
   margin: 10px;
  text-align: center;
}
h4{
  font-family: 'Ubuntu', sans-serif;
}
.hours{
  text-align: center;
}
.home-hours{
  text-align: center;
}
header{
  text-align: center;
}
.mission{
  text-align: center;
  font-size: 25px;
}
.right{
  float:right;
}
/*Button on Index*/
.button {
    background-color: black;
    border-radius: 12px;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
  background-color: black;
  color: skyblue;
  transition-duration: .2s;
  transition-timing-function: ease-out;
  
}
/*paragraph */
p{
  text-align: center;
  font-weight: bolder;
  margin: 1px;
  padding: 4px;
}
/* Nav  */
nav {
  background-color: black;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 0.3rem;
}
nav a {
  color: white;
}

ul {
    list-style-type: none;
    margin: 0, 40px;
    padding: 30;
    overflow: hidden;
    background-color: black;  
}

li  {
    float:left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;   
}

li a:hover {
    color: skyblue;
    font-size: 25px;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}

/*footer*/
footer{
  background-color:black;
  clear: both;
  font-size: 0.8rem;
} 
footer p{
  font-family: 'Ubuntu', sans-serif;
  font-size: .5rem;
  color: white
  
}

.nondiscrimination{
  text-align: center;
}

/* grid style sheet */

.col_1_of_6 {width: 16.666%;}
.col_2_of_6 {width: 33.333%;}
.col_3_of_6 {width:50%;}
.col_4_of_6 {width: 66.666%;}
.col_5_of_6 {width: 83.3333%;}
.col_6_of_6 {width: 100%;}
.col_3_of_4 {width: 75%;}
.col_3_of_5 {width: 60%;}

/*grid*/

* {
  margin: 0 auto;
  box-sizing: border-box; 
}


 div[class^='col_']  {
  float: left;
  padding: 1rem;
}

.col_1_of_6 {width: 16.666%;}
.col_2_of_6 {width: 33.333%;}
.col_3_of_6 {width:50%;}
.col_4_of_6 {width: 66.666%;}
.col_5_of_6 {width: 83.3333%;}
.col_6_of_6 {width: 100%;}
.col_3_of_4 {width: 75%;}
.col_3_of_5 {width: 60%;}


.stpa {
  display: block;
  width: 15%;
  height: auto;
  margin: auto;
}
main {
  text-align: center; 
}
a {
  text-decoration: none;
}

